# ==========================================================================
# SYRIUS CLI — Configurações de Variáveis de Ambiente (.env.example)
# ==========================================================================

# PORT
PORT=

# NODE_ENV
NODE_ENV=

# DATABASE_URL
DATABASE_URL=

# JWT_SECRET
JWT_SECRET=

# API_URL
API_URL=

